<% cities.each do |c| %>
  <tr>
    <td><%= c.name %></td>
    <td><%= c.population %></td>
    <td><%= c.area %></td>
    <td><%= c.density %></td>
    <td><%= c.country %></td>
    <td><%= c.continent %></td>
  </tr>
<% end %>
